@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

// couleur du site
    //principale
$couleur1:#30A8F2;
$couleur2:#9163F2; 
$background:#191a25;
// police du site
@font-face {
    font-family: "Achi";
    src: url("achi_regular.ttf");
}
   
$policetitre1:'Achi','Montserrat', sans-serif;
$policetitre2:'Montserrat', sans-serif;
$policetexte:'Roboto', sans-serif;

h1{
    font-family: $policetitre1;
    font-size: 4em;
}

h2{
    font-family: $policetitre2;
    font-size: 4em;
    font-weight: 1000;
}

h3{
    font-family: $policetitre2;
    font-size: 1.5em;
}

p{
    font-family: $policetitre2;
    font-size: 1.5em;
}